.search-box{

    width:100%;

    max-width:48rem;

    display:flex;

    align-items:center;

    justify-content:space-between;

    background:var(--surface);

    border:1px solid var(--border);

    border-radius:999rem;

    box-shadow:var(--shadow-md);

    overflow:hidden;

    transition:var(--transition);

}

.search-box:hover{

    box-shadow:var(--shadow-lg);

}

.search-input{

    display:flex;

    align-items:center;

    flex:1;

    padding-inline:var(--space-5);

}

.search-icon{

    color:var(--text-light);

    flex-shrink:0;

}

.search-input .input{

    padding:1.1rem;

}

.search-box .btn{

    border-radius:999rem;

    margin:.4rem;

}

@media(max-width:48rem){

.search-box{

    flex-direction:column;

    border-radius:var(--radius-lg);

}

.search-input{

    width:100%;

}

.search-box .btn{

    width:calc(100% - .8rem);

    margin:.4rem;

}

}