.search-box{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:40px;
}

.search-input{
    width:700px;
    height:60px;
    background:#fff;
    border-radius:16px;
    display:flex;
    align-items:center;
    padding:0 20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.search-icon{
    color:#666;
    margin-right:12px;
}

.search-input input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    font-size:17px;
}

.filter-bar{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:16px;
    flex-wrap:wrap;
}

.filter-bar input,
.filter-bar select{
    width:250px;
    height:50px;
    border:1px solid #ddd;
    border-radius:12px;
    padding:0 15px;
    font-size:15px;
    outline:none;
}

.filter-bar input:focus,
.filter-bar select:focus{
    border-color:#2563eb;
}

@media(max-width:768px){

    .search-input{
        width:95%;
    }

    .filter-bar{
        flex-direction:column;
        align-items:center;
    }

    .filter-bar input,
    .filter-bar select{
        width:95%;
    }

}
.clear-btn{
    height:50px;
    padding:0 22px;
    border:none;
    border-radius:12px;
    background:#2563eb;
    color:#fff;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
    transition:.25s;
}

.clear-btn:hover{
    background:#1d4ed8;
}