.input{

    width:100%;

    padding:1.1rem 1.4rem;

    border:none;

    outline:none;

    background:transparent;

    color:var(--text);

    font-size:1rem;

    font-family:inherit;
}

.input::placeholder{

    color:var(--text-light);

}