.footer{

    margin-top:5rem;

    padding:3rem 2rem;

    text-align:center;

    background:var(--secondary);

    color:white;

}

.footer p{

    margin:1rem 0;

    opacity:.8;

}

.footer span{

    opacity:.6;

}